/***** Hero component *****/
.hero {
  background-position: center;
  background-size: cover;
  padding: 0 5%;
  text-align: center;
  width: 100%;
  margin-top: -$header-height;
  height: 80vh;

  &::before {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    content: '';
    opacity: 0.75;
    background-color: rgba(0,0,0,.35);
    // background-image: linear-gradient(60deg, $brand-color 20%, $background-color 70%);
    max-height: 80vh;
  }
  &-small {
    height: $header-height * 3;
    margin-top: 0;
    background-image: url($homepage_background_image);
  }
  &-small::before {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    content: '';
    // opacity: 0.75;
    // background-color: $text_color;
    // background-image: linear-gradient(60deg, darken($brand_color, 25%) 20%, $text_color 70%);
  }
  &-small::before {
    max-height: $header-height * 3;
  }

  &-inner {
    @include vertical-align;
    max-width: $max-width-container;
    margin: 0 auto;
    z-index: 2;
    color: white;

    & a {
      color: $background-color;
      font-weight: $font-weight-semibold;
      text-decoration: underline;
    }

    & a:hover,
    & a:focus,
    & a:active {
      color: $link-color;
    }

    &-heading {
      font-weight: $font-weight-semibold;
      margin-bottom: 16px;

      @media (min-width: 580px) {
        font-size: 48px;
      }
    }

    &-search {
      max-width: $column-width;
      margin: 0 auto;
      position: relative;
    }

    &-description {
      font-size: $font-size-base;
    }
  }
}
